<div class="flex flex-row m-4">
  <div class="12 border b-2 rounded-lg p-4 bg-gray-50">
    <h2>Buttons</h2>
    <div class="flex flex-row p-4">
      <.button_x variant="elevated">
        Button
      </.button_x>
      <.button_x variant="filled" color="purple">
        Button
      </.button_x>
      <.button_x variant="outline">
        Button
      </.button_x>
      <.button_x variant="text">
        Button
      </.button_x>
    </div>
  </div>
</div>
